@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img, object, embed {
  max-width: 100%;
}

#map img {
  max-width: none;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

span.previous-page-arrow, .sign .account-quest a, .sign .sign-up-with-google, .account .account-top p, .notification-bx .not-types .sqr h3, .controls span, .card h3, .card img, .submit-btn, .input-bx span.lock {
  transition: all 0.1s;
  cursor: pointer;
}
span.previous-page-arrow:hover, .sign .account-quest a:hover, .sign .sign-up-with-google:hover, .account .account-top p:hover, .notification-bx .not-types .sqr h3:hover, .controls span:hover, .card h3:hover, .card img:hover, .submit-btn:hover, .input-bx span.lock:hover {
  opacity: 0.5;
}

* {
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
}

.container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.raw {
  min-width: 600px;
  max-width: 800px;
  width: 70vw;
  min-height: 100vh;
  position: relative;
  background: #fff9f9;
  overflow-x: hidden;
  padding: 0 1%;
}

.input-bx {
  position: relative;
}
.input-bx label {
  color: #db8606;
  margin: 2% 7%;
  display: block;
  font-size: 1.3em;
}
.input-bx input {
  font-size: 1.4em;
  padding: 2% 5%;
  display: block;
  outline: none;
  border: none;
  width: 90%;
  border-radius: 20px;
  margin: 1% 5% 3% 5%;
  background: hsla(0, 0%, 95%, 0.6);
  color: #4a3737;
}
.input-bx span.lock {
  position: absolute;
  top: 55%;
  right: 8%;
  font-size: 1.8em;
  font-weight: 600;
  color: #db8606;
}
.input-bx span.lock:active {
  transform: scale(1);
}
.input-bx label::first-letter {
  text-transform: capitalize;
}

.submit-btn {
  text-align: center;
  margin: 6% 10%;
  background: #db8606;
  padding: 3% 22%;
  color: #4a3737;
  border-radius: 20px;
  font-size: 1.3em;
}
.submit-btn:active {
  transform: scale(0.9);
}

body {
  font-family: Inter;
}

.logo-user {
  margin-top: 60px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-user .logo {
  display: flex;
  align-items: center;
  flex: 1;
}
.logo-user .logo img {
  width: 57px;
  margin: 32.5px 20px;
}
.logo-user .logo h1 {
  font-size: 2.2em;
  color: #4a3737;
  font-weight: 600;
}

.user {
  border-radius: 50%;
  overflow: hidden;
  margin: 2% 10% 0 1%;
}
.user img {
  width: 80px;
}

.tematic_section h2 {
  font-size: 1.7em;
  font-weight: 700;
  color: #db8606;
  padding: 0 5%;
}

.cards {
  display: flex;
  margin-top: 3%;
  overflow-x: hidden;
  flex-wrap: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.card {
  width: 45%;
  border-radius: 25px;
  height: 450px;
  position: relative;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  margin: 0 3% 3% 3%;
  display: none;
}
.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.card img:active {
  transform: scale(0.98);
}
.card h3 {
  margin-top: 100%;
  color: #db8606;
  font-size: 1.4em;
  font-weight: 500;
  padding: 0 7%;
}
.card h3:active {
  transform: scale(0.95);
}
.card p {
  color: #4a3737;
  padding: 2% 7%;
  font-size: 1.1em;
}
.card .rating {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  margin-bottom: 5%;
  margin-left: 8%;
}
.card .filled-star {
  color: #db8606;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
.card .not-filled-star {
  color: #db8606;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.controls {
  margin-top: -1%;
  display: flex;
  justify-content: center;
  margin-bottom: -1%;
}
.controls span {
  font-size: 40px;
  padding: 1.7%;
  color: #db8606;
  text-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
}
.controls span:active {
  transform: scale(0.6);
}

hr {
  color: #4a3737;
}

.visible {
  display: block;
}

@media (max-width: 1920px) {
  main {
    /* content */
  }
}
@media (max-width: 1280px) {
  main {
    /* content */
  }
}
@media (max-width: 1024px) {
  main {
    /* content */
  }
}
@media (max-width: 767px) {
  main {
    /* content */
  }
}
@media (max-width: 576px) {
  main {
    /* content */
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  z-index: 10;
}
header ul {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  min-width: 600px;
  max-width: 800px;
  width: 70vw;
  background-color: #fff9f9;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
header li {
  font-size: 16;
  cursor: pointer;
  transition: all 0.1s;
}
header li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #808080;
}
header li span {
  font-weight: 500;
}
header li span:nth-child(2) {
  font-size: 1.3em;
}
header span.material-symbols-outlined {
  font-size: 2em;
  padding: 3px;
}
header li.active span {
  color: #4a3737;
}
header li:hover:not(.active) span {
  opacity: 0.5;
}

.notification-bx h1 {
  display: block;
  margin-top: 20%;
  font-size: 2.2em;
  color: #4a3737;
  font-weight: 600;
  margin-left: 5%;
}
.notification-bx .not-types {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 5%;
  margin-bottom: -10px;
}
.notification-bx .not-types .sqr {
  width: 20%;
  text-align: center;
  position: relative;
}
.notification-bx .not-types .sqr h3 {
  font-size: 1.4em;
  color: #4a3737;
  font-weight: 500;
}
.notification-bx .not-types .sqr h3:active {
  transform: scale(0.9);
}
.notification-bx .not-active {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}
.notification-bx .not-active div {
  margin-bottom: -17px;
  width: 10%;
  text-align: center;
  position: relative;
}
.notification-bx .not-active div.active {
  border-bottom: 3px solid #db8606;
}
.notification-bx .empty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  min-height: 40%;
}
.notification-bx .empty img {
  width: 40%;
}
.notification-bx .empty h2 {
  font-size: 1.5em;
  font-weight: 600;
}
.notification-bx .empty p {
  font-size: 1.2em;
}
.notification-bx .hide-empty {
  display: none;
}
.notification-bx .book-bx {
  padding: 2%;
}
.notification-bx .book-bx img {
  width: 17%;
  border-radius: 20px;
}
.notification-bx .book-bx .text-bx {
  position: relative;
  float: right;
  width: 75%;
}
.notification-bx .book-bx .text-bx h4 {
  padding: 1%;
  font-size: 1.3em;
  font-weight: 500;
  color: #4a3737;
}
.notification-bx .book-bx .text-bx p {
  padding: 1%;
  font-size: 1.2em;
  color: #4a3737;
}
.notification-bx .book-bx .text-bx .reserved {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3% 10%;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: underline;
}
.notification-bx .book-bx .text-bx .reserving-time {
  position: absolute;
  bottom: -50%;
  right: 15%;
}

.account {
  width: 100%;
  height: 100%;
}
.account .account-top {
  display: flex;
  margin-top: 90px;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
}
.account .account-top h1 {
  font-size: 2em;
  margin: 1%;
  font-weight: 600;
}
.account .account-top p {
  font-size: 1.2em;
  font-weight: 700;
  color: #4a3737;
}
.account .account-top p:active {
  transform: scale(0.9);
}
.account .account-bx {
  height: 200px;
  background: linear-gradient(0deg, #4a3737, hsla(0, 15%, 25%, 0.8));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-top: 4%;
  padding-left: 2%;
}
.account .account-bx img {
  border-radius: 50%;
  margin: 7%;
  width: 20%;
}
.account .account-bx .account-txt {
  flex: 1;
  color: #fff9f9;
}
.account .account-bx .account-txt h2 {
  font-weight: 600;
  font-size: 1.3em;
}
.account .account-bx .account-txt p {
  font-size: 1.2em;
}

.welcome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome img.logo {
  width: 25%;
  margin-top: 12%;
}
.welcome h1 {
  font-size: 2.5em;
  padding: 3% 20% 1.5%;
  text-align: center;
}
.welcome p.little {
  padding: 0 15%;
  text-align: center;
  font-size: 1.1em;
  color: #4a3737;
}
.welcome img.book {
  padding: 3%;
  width: 20%;
}
.welcome p.big {
  color: #4a3737;
  text-align: center;
  font-size: 1.1em;
}

.sign {
  width: 100%;
  height: 100%;
}
.sign h1 {
  display: block;
  margin-top: 20%;
  color: #4a3737;
  font-size: 2.2em;
  font-weight: 600;
  padding: 0 8%;
}
.sign .sign-up-with-google {
  margin: 5% 10%;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.sign .sign-up-with-google:active {
  transform: scale(0.98);
}
.sign .sign-up-with-google img {
  width: 35px;
  margin: 2% 4%;
}
.sign .sign-up-with-google span {
  font-size: 1.4em;
  font-weight: 500;
  color: #db8606;
  font-family: Raleway;
  letter-spacing: 3.5px;
  padding: 0 10%;
}
.sign .or-bx {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign .or-bx .bxs {
  border-bottom: 1px solid #db8606;
  width: 30%;
}
.sign .or-bx span {
  font-family: Raleway;
  font-size: 1.6em;
  font-weight: 600;
  padding: 0 5%;
  color: #db8606;
}
.sign .account-quest {
  text-align: center;
  font-family: Raleway;
  font-size: 1.1em;
  margin: -3.5% 0 7%;
}
.sign .account-quest a {
  text-decoration: none;
  color: #db8606;
  font-weight: 600;
}
.sign .account-quest a:active {
  transform: scale(0.95);
}

span.previous-page-arrow {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  z-index: 100;
  border-radius: 10px;
}
span.previous-page-arrow:active {
  transform: scale(0.9);
}

.white {
  color: #db8606;
  background: transparent;
}

.color {
  color: #fff;
  background: #db8606;
}

.with-header {
  margin: 11% 5%;
}

.without-header {
  margin: 5%;
}

.modal {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 100px;
}
.modal .modal-bx {
  width: 500px;
  height: 750px;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 40px;
  box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.2);
}
.modal .modal-bx img:nth-child(1) {
  width: 50%;
  margin: 15% 10% 10%;
}
.modal .modal-bx h1 {
  font-size: 2.2em;
  font-weight: 700;
  color: #db8606;
  margin-bottom: 3%;
}
.modal .modal-bx p {
  font-size: 1.1em;
  padding: 0 15%;
  text-align: center;
  color: #4a3737;
}
.modal .modal-bx img:nth-child(4) {
  width: 20%;
  margin-top: 10%;
}

.hidden {
  display: none;
}