extends layout 



block content
    body 
        +Header(0)
        .account
            .account-top
                h1 Account
                p Done 
            .account-bx 
                img(src="images/user.jpg")
                .account-txt
                    h2 Onyia Chikamso 
                    p email@email.com

            .account-menu
                +Submit_btn("Updates", "account-menu-btn") 
                +Submit_btn("Books", "account-menu-btn") 
                +Submit_btn("Notification", "account-menu-btn")
                +Submit_btn("View Account Settings", "account-menu-btn") 
                +Submit_btn("Sign Out", "account-menu-btn")
            