extends layout 



block content
    body 
        +Header(0)
        .account
            .account-top
                h1 Account
                p Done 
            .account-bx 
                img(src="images/user.jpg")
                .account-txt
                    h2 Onyia Chikamso 
                    p email@email.com

            ul(class="account-menu") 
                li Updates 
                li Books 
                li Notification
                li View Account Settings 
                li Sign Out
            