extends layout 



block content
    body 
        +Header(0)
        .logo-user
            .logo
                img(src="./images/logo.png" alt="logo")
                h1 Albrain Books 
            .user
                img(src="./images/user.jpg" alt="user")
        div(class="tematic_section poetry") 
            hr
            h2 Poetry
            .cards 
                div(class="card visible") 
                    img(src="./images/poetry_covers/1.jpg")
                    h3.book-title Prisoner (Arnod Miller)
                    p.short-description Lorem ipsum dolor sit sitlorem ipsum dolor sit sit
                    .rating
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star_half
                        span(class="material-symbols-outlined not-filled-star") star
                div(class="card visible") 
                    img(src="./images/poetry_covers/1.jpg")
                    h3.book-title Prisoner (Arnod Miller)
                    p.short-description Lorem ipsum dolor sit sit
                    .rating
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star_half
                        span(class="material-symbols-outlined not-filled-star") star
                div(class="card")
                    img(src="./images/poetry_covers/2.png")
                    h3.book-title Prisoner (Arnod Miller)
                    p.short-description Lorem ipsum dolor sit sit
                    .rating
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star_half
                        span(class="material-symbols-outlined not-filled-star") star
                div(class="card")
                    img(src="./images/poetry_covers/1.jpg")
                    h3.book-title Prisoner (Arnod Miller)
                    p.short-description Lorem ipsum dolor sit sit
                    .rating
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star_half
                        span(class="material-symbols-outlined not-filled-star") star
            .controls 
                span(class="material-symbols-outlined" id="move_back") chevron_left
                span(class="material-symbols-outlined" id="move_forward") chevron_right
        div(class="tematic_section romance") 
            hr
            h2 Romance
            .cards 
                div(class="card visible") 
                    img(src="./images/poetry_covers/1.jpg")
                    h3.book-title Prisoner (Arnod Miller)
                    p.short-description Lorem ipsum dolor sit sitlorem ipsum dolor sit sit
                    .rating
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star_half
                        span(class="material-symbols-outlined not-filled-star") star
                div(class="card visible") 
                    img(src="./images/poetry_covers/1.jpg")
                    h3.book-title Prisoner (Arnod Miller)
                    p.short-description Lorem ipsum dolor sit sit
                    .rating
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star_half
                        span(class="material-symbols-outlined not-filled-star") star
            .controls 
                span(class="material-symbols-outlined") chevron_left
                span(class="material-symbols-outlined") chevron_right
        div(class="tematic_section business-book") 
            hr
            h2 Business books
            .cards 
                div(class="card visible") 
                    img(src="./images/poetry_covers/1.jpg")
                    h3.book-title Prisoner (Arnod Miller)
                    p.short-description Lorem ipsum dolor sit sitlorem ipsum dolor sit sit
                    .rating
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star_half
                        span(class="material-symbols-outlined not-filled-star") star
                div(class="card visible") 
                    img(src="./images/poetry_covers/1.jpg")
                    h3.book-title Prisoner (Arnod Miller)
                    p.short-description Lorem ipsum dolor sit sit
                    .rating
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star
                        span(class="material-symbols-outlined filled-star") star_half
                        span(class="material-symbols-outlined not-filled-star") star
            .controls 
                span(class="material-symbols-outlined") chevron_left
                span(class="material-symbols-outlined") chevron_right
            hr

    
            
    
    
