extends layout 



block content
    body 
        +Header(0)
        .logo-user
            .logo
                img(src="./images/logo.png" alt="logo")
                h1 Albrain Books 
            .user
                img(src="./images/user.jpg" alt="user")

    
            
    
    
