extends layout 

block content
    +Previous_page_arrow("color")
    .reserve
        img(src="./images/poetry_covers/1.png")
        .txt-content 
            h1 Prisoner (Arnold Miller)
            p Lorem ipsum dolor sit amet consectetur. Aenean sit nam vel sit quam bibendum pellentesque vivamus. Dui nibh suspendisse ut sagittis massa proin nec. Cursus mauris mi viverra semper elit. 

            p condimentum parturient porttitor nam ante tempus pellentesque. Et donec egestas nisi tellus lectus fames in vitae urna.

            .rating-box 
                +Rating(4.7)
            p.last  Massa condimentum parturient porttitor nam ante.
            +Submit_btn("Reserve", "rexerve-btn")

    +Modal_window("Reserve successful", "Your request is being processed, check your notification")