extends layout 

block content
    body 
        .sign-up
            span(class="material-symbols-outlined previous-page-sign") chevron_left
            h1 Sign up
            .sign-up-with-google
                img(src="./images/sign_up_google.png")
                span Sign up with google
            .or-bx 
                .bxs 
                span Or
                .bxs 
            