extends layout 

block content
    body 
        .sign
            +Previous_page_arrow("white")
            +Signup_signin("Sign up")

            +Input-bx("firstname", "text")
            +Input-bx("lastname", "text")
            +Input-bx("email", "email")
            +Input-bx("password", "password", "true")
            +Input-bx("confirm", "password", "true")
            +Submit_btn("Sign up", "signup-btn")
            +Account_quest("Already have an account? ", "SIGN IN")

        +Modal_window("Sign In Successful", "Your account has been created. Please wait a moment, we are preparing for you.")


    script(src="/scripts/lock_pass.js")