extends layout 

block content
    body 
        .welcome 
            img(class="logo" src="./images/logo.png")
            h1 Welcome to </br> Albrain Books
            p(class="little") Lorem ipsum dolor sit amet, </br> consectetur adipiscing elit. Lacus 
            img(class="book" src="./images/welcome_book.png")
            p(class="big") Lorem ipsum dolor sit amet, consectetur </br> adipiscing elit.  Lacus in.Lorem ipsum dolor sit </br> amet, consectetur  adipiscing elit. Lacus </br> in.Lorem ipsum dolor sit amet, consectetur ad

            +Submit_btn("Get Started", "welcome-btn")