mixin Header(num)
    - classes = [];
    - classes[num] = 'active'


    header
        ul
            li(class=classes[0])
                a(href="/")
                    span(class="material-symbols-outlined") home
                    span Home 
            li(class=classes[1]) 
                a(href="/notifications")
                    span(class="material-symbols-outlined") notifications
                    span Notifications 
            li(class=classes[2]) 
                a(href="/search")
                    span(class="material-symbols-outlined") search
                    span Search
            li(class=classes[3]) 
                a(href="/book_store")
                    span(class="material-symbols-outlined") book_4
                    span Book Store