mixin Modal_window(title, txt)
    div(class="modal hidden")  
        .modal-bx 
            img(src="./images/signin_person.png")
            h1=title  
            p=txt
            img(src="./images/circles_signin.png")