body {
  font-family: Inter;
}

.logo-user {
  padding: 0 1%;
  margin-top: 60px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    display: flex;
    align-items: center;
    // margin-left: 2%;
    flex: 1;
    img {
      width: 57px;
      margin: 32.5px 20px;
    }
    h1 {
      font-size: 2.2em;
      color: $darkTextColor;
      font-weight: 600;
    }
  }
}
.user {
  border-radius: 50%;
  overflow: hidden;
  margin: 2% 10% 0 1%;
  img {
    width: 80px;
  }
}

.tematic_section {
  h2 {
    font-size: 1.7em;
    font-weight: 700;
    color: $primaryColor;
    padding: 0 5%;
  }
}
.cards {
  padding: 0 1%;
  display: flex;
  margin-top: 3%;
  overflow-x: hidden;
  flex-wrap: nowrap;
  min-width: fit-content;
}
.card {
  width: 45%;
  border-radius: 25px;
  height: 450px;
  position: relative;
  box-shadow: 0 10px 10px $shadowColor;
  margin: 0 3% 3% 3%;
  display: none;
  img {
    @include linkActive(0.98);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 5px 5px $shadowColor;
  }
  h3 {
    @include linkActive(0.95);
    margin-top: 100%;
    color: $primaryColor;
    font-size: 1.4em;
    font-weight: 500;
    padding: 0 7%;
  }
  p {
    color: $darkTextColor;
    padding: 2% 7%;
    font-size: 1.1em;
  }
}
.controls {
  margin-top: -1%;
  display: flex;
  justify-content: center;
  margin-bottom: -1%;
  span {
    font-size: 40px;
    padding: 1.7%;
    color: $primaryColor;
    text-shadow: 0 4px 2px $shadowColor;
    @include linkActive(0.6);
  }
}
hr {
  color: $darkTextColor;
}
.visible {
  display: block;
}
