* {
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
}
.container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.raw {
  min-width: 600px;
  max-width: 800px;
  width: 70vw;
  min-height: 100vh;
  position: relative;
  background: #fff9f9;
  overflow-x: hidden;
}

.input-bx {
  position: relative;
  label {
    color: $primaryColor;
    margin: 2% 7%;
    display: block;
    font-size: 1.3em;
  }
  input {
    font-size: 1.4em;
    padding: 2% 5%;
    display: block;
    outline: none;
    border: none;
    width: 90%;
    border-radius: 20px;
    margin: 1% 5% 3% 5%;
    background: hsla(0, 0%, 95%, 0.6);
    color: $darkTextColor;
  }
  span.lock {
    position: absolute;
    top: 55%;
    right: 8%;
    font-size: 1.8em;
    font-weight: 600;
    color: $primaryColor;
    @include linkActive(1);
  }
  label::first-letter {
    text-transform: capitalize;
  }
}

.submit-btn {
  text-align: center;
  margin: 6% 10%;
  background: $primaryColor;
  padding: 3% 22%;
  color: $darkTextColor;
  border-radius: 20px;
  font-size: 1.3em;
  @include linkActive(0.9);
}

.rating {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  margin-bottom: 5%;
  margin-left: 8%;
  .filled-star {
    color: $primaryColor;
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  }
  .not-filled-star {
    color: $primaryColor;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }
}
